@import 'theme.less';

:root,
page {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body,
page {
  color: var(--adt-color-text);
  font-size: var(--adt-font-size-main);
  font-family: var(--adt-font-family);
}

.adt-plain-anchor {
  color: unset;
  transition: none;

  &:active {
    opacity: unset;
  }
}

body.adt-overflow-hidden,
page.adt-overflow-hidden {
  overflow: hidden !important;
}
