.demo-block {
  margin-bottom: 12px;

  &:last-of-type {
    padding-bottom: 32px;
  }

  .title {
    padding: 12px 12px 8px;
    font-size: var(--adt-font-size-6);
    color: #697b8c;
  }

  .main {
    border-right: none;
    border-left: none;
  }
}
